 
 body {
    font-size: 17px;
    line-height: 1.46666667;
    color: #777777;
    background-color: #ffffff;
    font-weight: 300;
}




 h2 {
    font-size: 28px;
    margin-bottom: 05px;
    margin-top: 50px;
    text-transform: uppercase;
}





.btn-default {
    color: #ffffff;
    background-color: #005da6;
    border-color: #005da6;
}
 
.btn-grey {
    color: #333333;
    background-color: #f2f2f2;
    border-color: #f2f2f2;
}


.btn-orange {
    color: #ffffff;
    background-color: #ffb819;
    border-color: #ffb819;
}



.btn-blue-white-transparent {
    color: #ffffff;
    background-color: #005da6;
    border-color: #005da6;
}


.btn-blue-white-transparent:hover {
    color: #ffb819;
    background-color: #005da6;
    border-color: #005da6;
}




.btn-orange-white-transparent {
    color: #ffffff;
    background-color: #ffb819;
    border-color: #ffb819;
}


.btn-orange-white-transparent:hover {
    color: #005da6;
    background-color: #ffb819;
    border-color: #ffb819;
}



.hvr-shutter-out-horizontal:before {
     
    background: #005da6;
   
}



.button-clean {background:none; border:none; padding: 0px;}
.button-clean a:active {background:none; border:none; padding: 0px;}
.button-clean a:visited {background:none; border:none; padding: 0px;}
.button-clean a:hover {background:none; border:none; padding: 0px;}
 
dark.header-top .dropdown-menu {
    border: 0px solid #252a2c;  
    border-top: none;
      background: none;  
}
.dark.header-top .dropdown-menu {
    border: 0px solid #cccccc;
    border-top: none;
    background: #ffffff;
}
.btn-group.open .dropdown-animation {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

dark.header .form-control, .dark.header-top .form-control {
      border: 1px solid #f2f2f2;  
}

.dark .form-control {
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.6);
    color: #cccccc;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0px ;
}


 .logo img {width: 80%;}

 
 @media (max-width: 992px) {
.logo img {width: 50%; padding-bottom:40px;}
}
 

 .fixed-header-on .header .logo img {
    max-height: 60px;
    width: 60%;
}


.fixed-header-on .header.fixed, .fixed-header-on header.header.transparent-header-on {
 
    z-index: 999;
	
}


 .header {
    border-top: 0px solid #ffffff;
    border-bottom: 0px solid #f1f1f1;
    background-color: #ffffff;
    padding: 40px;
}

  .header-top.dark a {
    color:#ffffff;
}

.header-top.dark {
    background-color: #cccccc;
    border-bottom: 0px;
     padding: 0px;
     height: 35px
}

.dark .social-links li a {
    background-color: #cccccc;  
    border: 0px solid rgba(0, 0, 0, 0.1);
    color: #ffffff;
}


 .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu .menu > .active > a, .dropdown-menu .menu > .active > a:hover, .dropdown-menu .menu > .active > a:focus {
    background-color: #ffffff;
    color: #005da6;
    border-color: #f7f7f7;
}


 .navbar-default .navbar-nav > li > a {
    font-size: 15px;
    padding: 28px 6px 27px 6px;
}



.banner .breadcrumb-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2; 
    border-bottom-color: #cccccc; 
}

.tp-bannertimer {
    background-color: #005da6;
}



h3.object-non-visible {color:#ffb819;}


.welcome-style h3 {font-size: 34px; color:#005da6;}


.home-box-image {margin:-5px 0px 15px 0px;}


.competences-style h2 {font-size: 34px; color:#005da6; margin-bottom:36px;}


.stats {margin: 40px 0px 40px 0px;
}

.stats h3 {font-size: 34px; color:#005da6; margin-bottom:36px;}



.white-content {color:#ffffff;}


.blog-media  {margin-bottom:30px}
.blog-readmore a {font-size:20px;}
.rhs-blog {margin-bottom:10px}
ul.archived_list li {display:inline; list-style:none; margin-left: 0px; margin-right:6px;}
ul.archived_list   { margin-left: 0px; padding-left:0px;}

.blog-social-share {margin: 6px 0px 10px 0px;
}

.blog-list-footer h2 {font-size: 14px;
margin-top: 0px;
    margin-bottom: 16px;
}
.blog-list-footer h2 a {font-size: 14px;}

 .page-end {clear: both; height:50px; width:100%;
}


.footer-top {background-color:#ffb819; color:#ffffff;
}

.footer-top h2 { color:#ffffff;
}





.newslist {margin-bottom: 60px;}  
 .newslist h2 {border-bottom:1px solid #ffb819; padding-bottom:8px; font-weight:bold; color:#005da6 !important;}  
 .newslist h2 a:hover { text-decoration:none; color:#ffb819 !important;}
 .newslist h2 a  { text-decoration:none; color:#005da6 !important;}
 .newslistintro {margin: 6px 0px 6px 0px; font-size:20px;}  

 .newsdetails {margin: 10px 0px 10px 0px;}
.newslist-back {margin: 30px 0px 10px 0px;}

 
 
    .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
 


    /* TABLES */


.tr-blue th {background: #005da6 !important; color:#ffffff !important;
}

.tr-orange th {background: #ffb819 !important; color:#ffffff !important;
}

.tr-grey th {background: #333333 !important; color:#ffffff !important;
}

.tb-light-grey {background: #f8f8f8 !important;
}


